
/* Modernized Filter and Search Bars */
.filter-bar input, .filter-bar select {
    padding: 12px;
    font-size: 16px;
    border-radius: 25px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.filter-bar input:focus, .filter-bar select:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}

.filter-bar input:hover, .filter-bar select:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.toggle-switch input {
    transform: scale(1.5);
    cursor: pointer;
}

.toggle-switch label {
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
    .filter-bar {
        flex-direction: column;
        gap: 15px;
    }
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0;
    padding: 10px;
    transition: background-color 0.3s, color 0.3s;
}
h1, h2 {
    color: var(--heading-color);
}

.container {
    padding-top: 200px;
    max-width: 100%;
    margin: 0 auto;
    padding: 180px;
    background-color: var(--container-bg);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: background-color 0.3s;
}

/* Fixed header */
.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--container-bg);
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 40px 0;
}

.fixed-header h1 {
    margin: 0;
    text-align: center;
    font-size: 36px;
}

.fixed-header .filter-bar {
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    background-color: var(--container-bg);
    border-bottom: 2px solid var(--border-color);
}

.fixed-header .filter-bar select,
.fixed-header .filter-bar input {
    width: auto;
}

.warband-section {
    margin-bottom: 20px;
}
.warband-section h2 {
    border-bottom: 2px solid var(--heading-color);
    padding-bottom: 10px;
}

.ability {
    border: 1px solid var(--border-color);
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
    background-color: var(--ability-bg);
    transition: background-color 0.3s;
}

.ability h3 {
    margin-top: 0;
}

.ability p {
    margin: 5px 0;
}

.ability .cost {
    font-weight: bold;
}

.ability .runemarks {
    font-style: italic;
    color: var(--text-color);
}
